@{
    ViewData["About"] = "What is MentalSelf?";
    ViewData["Disclaimer"] = "Disclaimer";
}



<div class="row" id="aboutDisclaimer">
        <h2>@ViewData["About"]</h2>
        <h4>
            MentalSelf is a free service for testing you or your child's likelihood of having a mental disorder. The tests provided use the criteria of the Diagnostic and Statistical Manual of Mental Disorders, 5th Edition or DSM-5. 
            <br />
            <br />
            The DSM-5 is the authoritative volume of defining and classifying mentals disorders, produced by hundreds of international experts working over 10 years in every aspect of mental health. 
            <br />
            <br />
            By making the tests produced by the DSM-5 more accessible, MentalSelf hopes to both help those in need of mental health recovery and management services as well as end the stigma around seeking those services. 
            <br />
        </h4>
        <br />
        <br />
        <h2>@ViewData["Disclaimer"]</h2>
        <h4>
            This application provides self-assessment tests. The tests are designed to provide a point of reflection for you, the user. The results of said tests do not substitute a diagnosis by a medical professional.
            <br />
            <br />
            This website holds no responsibility for providing a diagnosis or medical services. 
            <br />
            </br />
            The choice of seeking professional help relies solely on you.
        </h4>
</div>
