@{
    ViewData["Title"] = "Disclaimer";
}



<div class="row">
        <h2>@ViewData["Title"]</h2>
        <h4>This application provides self-assessment tests. The tests are designed to provide a point of reflection for you, the user. The results of said tests do not substitute a diagnosis by a medical professional. This website holds no responsibility for providing a diagnosis or medical services. The choice of seeking professional help relies solely on you.</h4>
</div>
