@model IEnumerable<MentalSelf.Models.Test>

@{
    ViewData["Title"] = "Test Index";
}

<h2>@ViewData["Title"]</h2>

<table class="table">
    <tbody>
        <p>
            <a asp-action="Create">Create New</a>
        </p>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.TestID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.TestID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
