@model IEnumerable<MentalSelf.Models.Test>

@{
    ViewData["Title"] = "Previous Test Results";
}

<h2>@ViewData["Title"]</h2>
<p>
    
</p>
<table class="table">
    <tbody>
        
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.TestID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.TestID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
