@model IEnumerable<MentalSelf.Models.Test>

@{
    ViewData["Title"] = "Select which test you'd like to take.";
}
<h2>@ViewData["Title"]</h2>

<table class="table">
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a asp-action="Create" asp-route-id="@item.TestId">Take the test</a> 
                
            </td>
            <td>
            @Html.DisplayFor(modelItem => item.Title) 
            </td>
            <td>
                    <a asp-action="Index" asp-route-id="@item.TestId">Previous Tests</a>
            </td>
        </tr>
    }
    </tbody>
</table>
