/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 80px;
    padding-bottom: 20px;
    background-image: url(../images/background-image.jpg);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding: 2em;
    background-color: antiquewhite;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

.carousel {
    background-color: darkslategrey;
}

.carousel-caption {
    text-align: left;
    top: 10px;
    bottom: auto;
    padding-left: 5%;
    color: antiquewhite;
}

.carousel-inner {
    overflow-y: auto;
    height: 300px;
    background-size: cover;
    position: relative;
}

.indexGraphImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    height: auto
}

.QTLink {
    padding: .2em .75em .5em .75em;
    font-size: x-large;
    color: antiquewhite;
    text-decoration: underline;
    border: solid 2px lightslategrey;
}

    .QTLink:hover {
        color: antiquewhite;
        background-color: lightslategray;
    }

    .QTLink:visited {
        color: burlywood;
    }

.psychtoday {
    padding: .25em .75em .25em .75em;
    font-size: large;
    color: antiquewhite;
    text-decoration: underline;
    border: solid 2px lightslategrey;
}

    .psychtoday:hover {
        color: antiquewhite;
        background-color: lightslategray;
    }

    .psychtoday:visited {
        color: antiquewhite;
    }


/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {

}

